{% extends 'base.html' %} 

{% block title %}
Django
{% endblock %}
{% block content %} 
{% include 'nav.html' %}
<h1>Django</h1>
<p>Django est un cadre de développement web source ouverte en Python. Il a pour but de rendre le développement web 2.0 simple et rapide. Pour cette raison, le projet a pour slogan « Le framework web pour les perfectionnistes sous pression ». Développé en 2003 pour le journal local de Lawrence (Kansas), Django a été publié sous licence BSD à partir de juillet 2005.</p>

<p>Depuis juin 2008, la Django Software Foundation s'occupe du développement et de la promotion du cadre. En plus de cette promotion régulière, des conférences entre développeurs et utilisateurs de Django sont organisées deux fois par an depuis 2008. Nommées DjangoCon, une se déroule en Europe et l'autre aux États-Unis.</p>

<p>Plusieurs sites grand public sont désormais fondés sur Django, dont Pinterest4 et Instagram5 au moins en 2011 ou encore Mozilla.</p> 

{% endblock %} 